name: ci

on: [push]

jobs:
  golanglint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: v1.64.8

  go-test-matrix:
    runs-on: ubuntu-latest

    strategy:
      max-parallel: 1
      matrix:
        version: ['1.23', '1.24', '1.25']

    name: Go ${{ matrix.version }}
    steps:
      - uses: actions/checkout@v6

      - name: Use go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.version }}

      - name: Build
        run: go build ./...

      - name: Test
        run: go test -v -race -failfast -timeout 60s ./...
